projects/**/Android/ARM/
projects/**/Build/UWP/StaticDebug/
projects/**/Build/UWP/StaticRelease/
projects/**/Build/UWP/StaticReleaseTools/
projects/**/Ressources/AMLastDone.json
projects/**/Android/assets/*.kpkg
projects/**/TmpRessources/*
projects/**/*.bak
projects/**/*.*.bak